<header class="header menu_fixed">
  <!-- <div id="preloader"><div data-loader="circle-side"></div></div>/Page Preload -->
  <div id="logo">
    <a >
      <img src="assets/img/logo24tkt.png" width="150" height="36" data-retina="true" alt="" class="logo_normal">
      <img src="assets/img/logo_sticky.png" width="150" height="36" data-retina="true" alt="" class="logo_sticky">
    </a>
  </div>
  <!-- /top_menu id="hamburger" -->
  <!-- <a href="#menu" class="btn_mobile">
    <div class="hamburger hamburger--spin" >
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </a> -->
  <nav id="menu" class="main-menu">
    <ul>
      <li><span><a href="#0">Recent Search</a></span>
      </li>
      <li><span><a href="#0">Support</a></span>
       
      </li>
      <li><span><a href="#0">Current Offers</a></span>
       
      </li>
     
    </ul>
  </nav>

</header>