<div>
  <div class="row">
    <div class=" row col-lg-3">
       <div class="col-lg-6">
         <label>Type Here</label>
          <select class="form-control">
            <option value=""></option>
            <option value="1">One Way</option>
            <option value="2">Round Trip</option>
            <option value="3">Multi City</option>
          </select>
       </div>
       <div class="col-lg-6">
         <label>From</label>
          <input type="text" class="form-control" value="Dhaka" name="From">
       </div>
    </div>
    <div class="row col-lg-7">
       <div class="col-lg-1">
         
       </div>
       <div class="col-lg-2">
         <label>To</label>
          <input type="text" class="form-control" value="Rajshahi">
       </div>
       <div class="col-lg-3">
         <label>Depart</label>
         <input type="text" class="form-control" value="1st Aug'19">
       </div>
       <div class="col-lg-3">
          <label>Return</label>
          <input type="text" class="form-control" value="1st Aug'19">
       </div>
       <div class="col-lg-3">
          <label>Passengers & Class</label>
          <input type="text" class="form-control" value="1 Adult, Economy">
       </div>
    </div>
    <div class="row col-lg-2">
      <div class="col-lg-12">
          <input type="button" class="btn btn-primary" value="Search">
      </div>
       
    </div>
  </div>
</div>

